* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  background-color: #111;
}

a {
  text-decoration: underline;
  color: inherit;
}

.repo-link,
.processing {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5em 1em;
  margin: 1em;
  border-radius: 4px;
  color: white;
  display: flex;
  gap: 8px;
  font-family: sans-serif;
  font-size: 0.8rem;
  box-shadow: 0 0 10px 0 rgba(251, 250, 250, 0.5);
  line-height: 1.5;
  z-index: 100;
}

.processing {
  background-color: lightgoldenrodyellow;
  color: black;
  z-index: 110;
}

.element-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: "transparent";
  font-size: 10px;
  gap: 8px;
  padding: 1em;
}

.element {
  min-width: 52px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  cursor: default;
  pointer-events: none;
}

.symbol {
  font-size: 1.5em;
}
